.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-tweet-panel {
  width: 500px;
  margin: auto;
  padding: 30px;
  border: 1px solid grey;
}

.App-tweet-panel-tweet {
  padding: 10px;
  border-bottom: 1px solid grey;
  text-align: left;
}
img  {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.expandedTweet__model {
  height: 500px;
  width: 400px;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
